{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique française{% endblock %}

{% block content %}

    <h1>Modifier mon mot de passe</h1>

    <p>
        <a href="{{ path('app_account') }}">retourner à mon compte</a>
	</p>

	{% if notification %}
		<div class="alert alert-info">{{ notification }}</div>
	{% endif %}
	<div>
		{{ form(form) }}
	</div>
	
{% endblock %}
